.loginWraper {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  margin: 20px auto;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px #3737b6;
  /* text-align: center; */
}
.inputlabel {
  margin: 0px !important;
  color: gray;
}
.inputWraper {
  margin-bottom: 20px;
}

.loginButton {
  width: 100%;
  padding: 10px;
  border: none;
  background: #3737b6;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  outline: 0;
  cursor: pointer;
}
.formInput {
  width: 94%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: #3737b6;
  border: 1px solid gray;
}

.checkBoxWrap > p {
  display: inline-block;
  vertical-align: top;
}
.checkboxinput {
  width: 20px;
  height: 20px;
}
.checkBox {
  width: 7%;
}
.checkBoxlabel {
  width: 90%;
  color: gray;
  text-align: justify;
  text-justify: inter-word;
}
.buttn-enabled {
  background: #3737b6;
  border: none;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.buttn-disabled {
  background: #cfcfe4;
  border: none;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
.errorMesage {
  border: 1px solid red;
  margin: 10px 0px;
  border-radius: 8px;
}

.errorMesage > p {
  margin: 0px !important;
  padding: 5px;
  text-align: centers;
  color: red;
}
.heading {
  font-weight: bold;
}
@media only screen and (max-width: 780px) {
  .loginWraper {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #3737b6;
    /* text-align: center; */
  }
  .loginButton {
    width: 90%;
    padding: 10px;
    border: none;
    background: #3737b6;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    cursor: pointer;
  }
  .formInput {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    color: #3737b6;
    border: 1px solid gray;
  }
  .checkBox {
    width: 10%;
  }
  .checkBoxlabel {
    width: 90%;
    color: gray;
  }
  .checkboxinput {
    width: 15px;
    height: 15px;
  }
}
